<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Ng Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="I:\ngandassociates\env\Scripts\python.exe|I:\ngandassociates\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
